{% extends 'common.twig' %}

{% set page_title %}
    {% trans %}Error on form submit{% endtrans %}
{% endset %}

{% block content %}

          <div class="row-fluid">
            <div class="span12">
              <h2>{% trans %}Roundcube{% endtrans %}</h2>
              <p>{% trans %}Hello roundcube{% endtrans %}</p>
            </div><!--/span-->
          </div><!--/row-->

{% endblock %}