Source: igestis-roundcube
Section: web
Priority: extra
Maintainer: Olivier Bitsch <olivier.b@iabsis.com>
Build-Depends: debhelper (>= 5), po-debconf
Standards-Version: 3.7.2

Package: igestis-roundcube
Architecture: all
Depends: igestis (>= 2.3)
Description: File Explorer for iGestis
 This module also the users to access to
 their mail through a sexy and modern
 web application.
