Package: igestis-roundcube
Version: 0.20.4
Architecture: i386
Maintainer: Olivier Bitsch <olivier.b@iabsis.com>
Installed-Size: 11788
Depends: libapache2-mod-php5 | libapache-mod-php5, mysql-server-5.0, php5-gd, php5-mysql, netpbm, libjpeg-progs, php5-mcrypt, dbconfig-common, igestis-ldap
Suggests: sane-utils, hylafax-client
Conflicts: roundcube, roundcube-core
Section: web
Priority: extra
Description: Manage your entire company by web.
 Module used for having mail into iGestis.
