{% extends 'commonIframe.twig' %}

{% set title = {'logo': "emblem-companies",
                'title': "My emails",
                'help': "View and manage your emails"} %}

{% block content %}
<div id="iframeMain">
    <iframe frameborder=0 src="{{ SERVER_ADDRESS }}/modules/Roundcube/roundcubemail/index.php?_igestis_auth_key={{ igestisAuthKey }}"></iframe>
</div>
<script>
$(function(){
    var hideTopLine = function() {
        var $topline =  $("iframe").contents().find("#topline");
        if(!$topline.length)  return;
        $topline.hide();
        clearInterval(interval);
    };
    var interval = setInterval(hideTopLine, 50);    
    resizeIframe();
});

function resizeIframe() {
    var height = $('body').height() - $('#iframeMain').get(0).offsetTop;
    $('#iframeMain').css('height', height+'px');
    $('#iframeMain').height(height);    
}

$(window).resize(function() {  
  resizeIframe();
});
</script>

{% endblock %}