{% extends 'commonIframe.twig' %}

{% set title = {'logo': "emblem-companies",
                'title': "My emails",
                'help': "View and manage your emails"} %}

{% block content %}
<div id="main">
    <iframe frameborder=0 src="{{ SERVER_ADDRESS }}/modules/Roundcube/roundcubemail/"></iframe>
</div>
<script>
$('document').ready(function(){

        var height = $('body').height() - $('#main').get(0).offsetTop;
        $('#main').css('height', height+'px');
        $('#main').height(height);
        
});
</script>

{% endblock %}